<template>

  <div class="container">

    <ZoomerRaf
      v-for="(item, index) in items" :key="index"
      :image="item.image"
    />

  </div>

</template>

<script>
import ZoomerRaf from '@/components/ZoomerRaf.vue'

const Content = [{
  name: 'One',
  image: require('@/assets/logo.png'),
},
{
  name: 'Two',
  image: require('@/assets/logo.png'),
},
{
  name: 'Three',
  image: require('@/assets/logo.png'),
}]

export default {

  components: {
    ZoomerRaf,
  },

  data() {
    return {
      density: 12,
      items: [],
    }
  },

  mounted() {
    while (this.items.length < this.density) {
      const item = Content[Math.floor(Content.length * Math.random())]
      this.items.push(item)
    }
  }

}
</script>

<style lang="scss">
.container {
  position: absolute;
  inset: 0;
  perspective: 100vh;
  overflow: hidden;
  z-index: 0;
}
</style>
