<template>
  <div class="zoomer" :style="style">
    <img :src="image" />
  </div>
</template>

<script>

const lerp = (a, b, t) => a * (1 - t) + b * t
const mapLinear = (x, a1, a2, b1, b2) => b1 + (x - a1) * (b2 - b1) / (a2 - a1)

export default {

  props: {
    image: String,
  },

  data() {
    return {
      
      // x/y position of image
      position: { x: 0, y: 0 },

      // progress to calculate z with between min/max bounds
      progress: 0,

      // rate to append to progress
      speed: 0.006,

      // progress 0-1 to randomly spawn at
      spawn: { min: 0, max: 0.2 },

      // bounds to travel up z axis, resets at max
      bounds: { min: -1000, max: 500 },

      // saved random starting position to calc opacity with
      start: 0,

      // keyframes of progress to use for fading opacity
      fadeKeyframes: [ 0.2, 0.8 ],

      // reference to anim id to cancel when unmounting
      rafId: null,

    }
  },

  computed: {
    style() {
      const { x, y } = this.position
      const z = this.calcDepth()
      const opacity = this.calcFade()
      return { // using viewport units for x/y since we're using normalized values
        transform: `translate3d(${x * 100}vw, ${y * 100}vh, ${z}px)`,
        opacity: opacity,
      }
    }
  },

  mounted() {
    this.reset(true)
    this.tick()
  },

  beforeUnmount() {
    cancelAnimationFrame(this.rafId)
  },

  methods: {

    calcDepth() {
      // depth is percentage of progress between min/max bounds
      return lerp(this.bounds.min, this.bounds.max, this.progress)
    },

    calcFade() {
      // sloppy way to map linear calc a fade using keyframees,
      // should use a spline class to calculate this kinda stuff
      const range = (this.progress - this.start) / (1 - this.start)
      const [ begin, end ] = this.fadeKeyframes
      let fade = 1
      if (range < 0.2) {
        fade = mapLinear(range, 0, begin, 0, 1)
      } else if (range > 0.8) {
        fade = mapLinear(range, 1.0, end, 0, 1)
      } else {
        fade = 1
      }
      return fade
    },

    reset(firstRun) {

      // get random x/y position to start at
      this.position = {
        x: Math.random() * 1,
        y: Math.random() * 1,
      }

      // if first run, start at random progress, keep it for later reference
      this.start = firstRun ? Math.random() * 1 : 0

      // set start progress as our current progress
      this.progress = this.start

    },

    tick() {

      // if we're past 1 progress, reset and get another random position
      if (this.progress >= 1) {
        this.reset()
      }

      // add speed to progress
      this.progress += this.speed

      // do the loo again next time it's available
      this.rafId = requestAnimationFrame(() => this.tick())

    },

  }

}
</script>

<style lang="scss" scoped>
.zoomer {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;

  // replaced inline
  transform: translate3d(0);

  img {
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }

}
</style>
