<template>
  <div class="zoomer" :style="style">
    <img :src="image" />
  </div>
</template>

<script>
import gsap from 'gsap'

export default {

  name: 'ZoomerGsap',

  props: {
    image: String,
  },

  data() {
    return {

      // props that gsap will animate and will get bounds to the dom element
      anim: { x: 0, y: 0, z: 0, opacity: 0 },

      // spawning bounds
      spawn: { min: -1000, max: -500 },

      // bounds to reset at
      bounds: 500,

      // duration of travel
      duration: 2,

      // tween reference to save so it can be killed on unmount
      tween: null,

    }
  },

  computed: {
    style() {
      // mapping the tween properties to the dom element's stylle
      const { x, y, z, opacity } = this.anim
      return { // using viewport units for x/y since we're using normalized values
        transform: `translate3d(${x * 100}vw, ${y * 100}vh, ${z}px)`,
        opacity: opacity,
      }
    }
  },

  mounted() {
    this.reset(true)
  },

  beforeUnmount() {
    this.tween.kill()
  },

  methods: {

    reset(firstRun) {

      // start at random place invisible, within spawn bounds
      this.anim = {
        x: Math.random() * 1,
        y: Math.random() * 1,
        z: this.spawn.min + (Math.random() * (this.spawn.max - this.spawn.min)),
        opacity: 0,
      }

      this.animate(firstRun)

    },

    animate(firstRun) {

      // animate up z axis using tween lib

      this.tween = gsap.timeline({
        onComplete: () => this.reset(), // start over when done
        delay: firstRun ? Math.random() * this.duration : 0,
      })
      .to(this.anim, { // z tween
        z: this.bounds,
        duration: this.duration,
        ease: 'linear',
      }, 0)
      .to(this.anim, { // fade in
        opacity: 1,
        duration: this.duration * 0.2,
        ease: 'linear',
      }, 0)
      .to(this.anim, { // fade out
        opacity: 0,
        duration: this.duration * 0.2,
        ease: 'linear',
      }, this.duration * 0.8)

      this.firstRun = false

    },

  }

}
</script>

<style lang="scss" scoped>
.zoomer {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;

  // replaced inline
  transform: translate3d(0);

  img {
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }

}
</style>
