<template>
  <nav>
    <router-link to="/raf">ZoomerRaf</router-link> |
    <router-link to="/gsap">ZoomerGsap</router-link>
  </nav>
  <router-view/>
</template>

<style lang="scss">
html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: lightgray;
}

nav {
  position: relative;
  padding: 30px;
  z-index: 1;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
